@import './components/header/header.component.scss';

.page {
    height: 100vh;

    &__alignment {
        display: flex;
        width: 100%;
        height: calc(100% - $header-height);
        max-height: calc(100% - $header-height);
        margin-top: $header-height;
    }

    &__content {
        width: 100%;
        margin-inline: auto;
        overflow-y: auto;
    }
}