python-dotenv~=0.19.1
pydantic~=2.7.1
sqlmodel~=0.0.18
alembic~=1.13.1
psycopg
psycopg-binary
fastapi==0.109.1
uvicorn==0.15.0
python-dotenv==0.19.1
jsonschema==4.22.0
requests~=2.31.0
SQLAlchemy~=2.0.30
tqdm~=4.66.4
httpx~=0.27.0
tenacity~=8.3.0