pydantic
sqlmodel~=0.0.18
alembic~=1.13.1
psycopg
psycopg-binary
fastapi==0.109.1
uvicorn==0.15.0
python-dotenv
jsonschema==4.22.0
SQLAlchemy~=2.0.30
tqdm~=4.66.4
httpx~=0.27.0
tenacity~=8.3.0
celery[redis]==5.2.2
openai~=1.33.0 # only if you plan to use the OpenAI Service
anthropic~=0.28.0 # only if you plan to use the Anthropic Service
pydantic-settings~=2.3.2

sentence_transformers # only if you plan to use unsupervised clustering
kneed # only if you plan to use unsupervised clustering
scikit-learn # only if you plan to use unsupervised clustering
plotly # only if you plan to use unsupervised clustering