<header class="header">
  <div class="menu">
    <a routerLink="home" routerLinkActive="active" class="menu__link"
      ><i class="bi bi-house-door-fill menu__link__icon"></i>File
      Upload</a
    >
    <a routerLink="results" routerLinkActive="active" class="menu__link"
      ><i class="bi bi-list-check menu__link__icon"></i
      >Recommendations</a
    >
  </div>
  <div class="header__title">
    <h4 class="header__title__name">Recommender System</h4>
    <img
      src="assets/images/siemens-logo.svg"
      alt="Siemens Logo"
      class="header__title__logo"
    />
  </div>
</header>
