$header-height: 70px;
$padding-inline: 3%;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: $padding-inline;
  height: $header-height;

  user-select: none;
  color: var(--bgColorPrimary);

  &__title {
    display: flex;
    align-items: center;
    gap: 20px;
    &__logo {
      height: 30px;
    }
  }
}
.menu {
  display: flex;
  gap: 20px;
  color: black;
  height: 70pxs;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--bgColorSecondary);
    &.active {
      text-decoration: underline;
    }

    &__icon {
      font-size: 2rem;
      color: var(--bgColorSecondary);
    }
  }
}
