<header class="header">
  <div class="header__menu">
    <a routerLink="home" routerLinkActive="active" class="header__menu__link"
      ><i class="bi bi-house-door-fill header__menu__link__icon"></i
    >File Upload</a>
    <a routerLink="results" routerLinkActive="active" class="header__menu__link"
      ><i class="bi bi-list-check header__menu__link__icon"></i
    >Recommendations</a>
  </div>

  <div class="header__title">
    <h4 class="header__title__name">Recommender System</h4>
    <img src="" alt="" class="header__title__logo" />
  </div>
</header>
