.navigation {
  display: flex;
  gap: 10px;
  padding-inline: 3%;
  a {
    text-decoration: none;
    color: var(--bgColorTertiary);
    &:hover {
      text-decoration: underline;
    }
  }

  span {
    color: var(--textColorTertiary);
  }
}

.content {
  padding: 50px 3%;
  width: 100%;
  height: 100%;
  @media only screen and (max-width: 1600px) {
    padding-top: 0px;
  }
  .info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &__right {
      display: flex;
      gap: 20px;
      align-items: center;
      .slider {
        color: #ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
        .slide {
          display: flex;
          align-items: center;
          gap: 10px;
          ::ng-deep {
            &.mat-mdc-slider {
              .mdc-slider__thumb-knob,
              .mdc-slider__track--active_fill {
                border-color: var(--textColorSecondary) !important;
              }
            }
          }
        }
      }
    }
    &__selectedFile {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &__title {
        display: flex;
        gap: 10px;
        align-items: center;
        color: var(--bgColorTertiary);
        &__icon {
          font-size: 2rem;
        }
      }
    }

    &__numberFindings {
      background-color: var(--textColorSecondary);
      height: 100px;
      width: 150px;
      border-radius: 15px 0px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      position: relative;
      color: var(--bgColorPrimary);

      span {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 3rem;
      }
      p {
        position: absolute;
        left: 15px;
        bottom: 5px;
      }
      i {
        font-size: 4rem;
        position: absolute;
        right: 15px;
        top: 5px;
        color: red;
      }
    }
  }
  .selectedFile {
    // color: var(--bgColorTertiary);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    &__content {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 40px;
    }
  }
}
