<div class="content">
  <div class="content__container">
    <div class="exampleFile">
      Example files:
      <button (click)="openExample('llama3')">
        <i
          class="bi bi-filetype-json info-container__selectedFile__title__icon"
        ></i>
        <span>llama3</span>
      </button>
      <button (click)="openExample('claude-opus')">
        <i
          class="bi bi-filetype-json info-container__selectedFile__title__icon"
        ></i>
        <span>claude-opus</span>
      </button>
      <button (click)="openExample('gpt4o')">
        <i
          class="bi bi-filetype-json info-container__selectedFile__title__icon"
        ></i>
        <span>gpt4o</span>
      </button>
    </div>
    @if({fileName: fileName$ | async}; as streams) {
    <div class="selectedFile" *ngIf="streams.fileName !== ''">
      Current selected file:
      <a routerLink="/results">
        <i
          class="bi bi-filetype-json info-container__selectedFile__title__icon"
        ></i>
        <span>{{ streams.fileName }}</span>
      </a>
    </div>
    }
  </div>
  <app-findings-input></app-findings-input>
</div>
