
.selectedFile {
    display: flex;
    gap: 10px;
    a {
        text-decoration: none;
        color: var(--bgColorTertiary);
        &:hover {
          text-decoration: underline;
        }
      }
}

.exampleFile {
  display: flex;
  gap: 10px;
  align-items: center;
  button {
    border: none;
    background-color: transparent;
    display: flex;
    gap: 5px;
    color: var(--bgColorTertiary);
    &:hover {
      text-decoration: underline;
    }
  }
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &__container {
        width: 450px;
    }

}


.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #3fb53f;
  }